@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "tailwindcss";

:root {
  --color-background: #1d1d1f;
  --color-foreground: #e3e3e3;
  --color-highlight: #507c65;
}

body {
  background-color: var(--color-background);
  color: var(--color-foreground);
  font-family: "Poppins", Helvetica, Arial, sans-serif;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;

  @apply md:p-4;
}

#root {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@theme {
  --color-white-tile: #8ca2ad;
  --color-black-tile: #dee3e6;
  --color-box-background: #262421;
}

.highlight:after {
  display: block;
  position: absolute;
  content: "";
  width: 25%;
  height: 25%;
  background: var(--color-highlight);
  border-radius: 50%;
  top: 37.5%;
  left: 37.5%;
  opacity: 0.7;
}

.attacking:after {
  display: block;
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background: radial-gradient(
    circle,
    transparent 75%,
    var(--color-highlight) 50%
  );
  top: 0;
  left: 0;
  opacity: 0.7;
}

.selected::after {
  display: block;
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background: var(--color-highlight);
  top: 0;
  left: 0;
  opacity: 0.7;
}

.checked:after {
  display: block;
  position: absolute;
  content: "";
  width: 80%;
  height: 80%;
  background: red;
  border-radius: 50%;
  top: 10%;
  left: 10%;
  filter: blur(20px);
}
